*{
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    background-image: linear-gradient(to bottom, #011023 0%, #0f3756 100%);
}

i{
    position: absolute;
    height: 6.25rem;
    background-color: #acdbde;
    opacity: 0.4;
    border-bottom-left-radius: .3125rem;
    border-bottom-right-radius: .3125rem;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateY(-6.25rem);
    }
    100%{
        transform: translateY(calc(200vh + 37.5rem));
    }
}

button{
    padding: 1rem 3.5rem;
    background: linear-gradient(-45deg, #094860, #0a5444, #0a455d, #075040);
    color: whitesmoke;
    border-radius: .625rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    height: 4rem;
    margin-top:23%;
    margin-left: 44%;
}