* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(./realistic-math-chalkboard-background_23-2148154654.avif);
    background-size: 100%;
    background-attachment: fixed;
}

button {
    padding: 1rem 1.4rem;
    font-size: 1.3rem;
    margin: 0.2rem 0.2rem;
    border-radius: 5px;
    border:1px solid black;
    cursor: pointer;
    width: 60px;
    background-color: rgb(27, 26, 26);
    color: white;
    border: 1px solid rgb(224, 225, 231);
}

button:hover{
    background-color: #898080;
}

input {
    border: 3px solid rgb(224, 225, 231);
    padding: 15px 25px;
    border-radius: 0.5rem;
    margin-bottom: .7rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgb(27, 26, 26);
    margin-top: 17rem;
    color: snow;
}

.sign {
    background-color: rgb(68, 63, 63);
    color: white;
}

.equals {
    background-color: #5791ee;
}

.clear {
    background-color: #fb6c84;
}

.clear:hover {
    background-color: red;
}

.equals:hover {
    background-color:#3B71CA;
}

.sign:hover {
    background-color: darkgrey;
}