#maze {
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    height: 9.375rem;
    margin: .625rem auto;
  }
  
  .cell {
    width: 2.5rem;
    height: 2.5rem;
    border: .0313rem solid black;
    box-sizing: border-box;
    border-radius: .125rem;
  }
  
  .wall {
    background-color: rgb(103, 27, 27);
    opacity: 0.3;
  }
  
  .player {
    background-color: orangered;
    border-radius: 50%;
  }
  
  .end {
    background-color: green;
  }

  .keys {
    background-color: goldenrod;
  }

 .red, .green {
    height: 1.875rem;
    width: 5.625rem;
    border-radius: .625rem;
    border: none;
  }

  .index-head {
    text-decoration: underline;
  }

  .green {
    background: green;
  }

  .red {
    background-color: orangered;
    margin-top: .125rem;
  }

  .description {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .3125rem;
  }

  span {
    color: red;
    text-decoration: underline;
  }

  @media only screen and (max-width: 48rem) {
    body {
      background-color: lightblue;
    }
    .cell {
      width: 1.25rem;
      height: 1.25rem;
      border: .0313rem solid black;
      box-sizing: border-box;
      border-radius: .0625rem;
    }

    #maze {
      display: flex;
      flex-wrap: wrap;
      width: 25rem;
      height: 9.375rem;
      margin: .625rem auto;
    }
  }